<ion-header>
    <ion-navbar>
        <ion-title>Georeferencia</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-content>
            <h2>Geolocalizacion de elementos electorales</h2>

            <button ion-button (click)="takePicture()">Sacar foto</button>

            <p *ngIf="base64Image" >Foto a enviar:</p>
            <img [src]="base64Image" *ngIf="base64Image" />
            <p  >Coordenadas:</p>
            <p><input type=text readonly name=latitud [(ngModel)]="lat" id=latitud /></p>
            <p><input type=text readonly name=longitud [(ngModel)]="lon"  id=longitud /></p>
        </ion-card-content>
    </ion-card>


    <ion-item>
        <ion-label>Candidato</ion-label>
    </ion-item>
    <ion-item>  
        <ion-select ng-model="opcionescandidatos" ng-options="item for item in opcionescandidatos" >
      </ion-select>
    </ion-item> 

    <ion-item>
        <button ion-button (click)="enviar()">Enviar</button> 
    </ion-item>
</ion-content>





